@page "/"

<div class="container">
    <h1>Restaurante</h1>

    <div class="row">
        <div class="col-md-4">
            <h2>Mesas</h2>
            <ul class="list-group">
                <a href="/mesas" class="list-group-item">Ver mesas</a>
                <a href="/mesas/crear" class="list-group-item">Agregar mesa</a>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Menú</h2>
            <ul class="list-group">
                <a href="/menu" class="list-group-item">Ver menú</a>
                <a href="/menu/categorias" class="list-group-item">Ver categorías</a>
                <a href="/menu/crear" class="list-group-item">Agregar platillo</a>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Órdenes</h2>
            <ul class="list-group">
                <a href="/ordenes" class="list-group-item">Ver órdenes</a>
                <a href="/ordenes/crear" class="list-group-item">Nueva orden</a>
            </ul>
        </div>
    </div>
</div>
